/* 
***************
RESET


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
***************
COMMON


*/

.marcaprodotto {
  font-size: 14px;
  color: grey;
}

.prezzoscontato {
  font-size: 14px;
  color: red;
}

.prezzostandard {
  font-size: 15px;
}
.prezzi {
  gap: 5px;
  display: flex;
}

img {
  background-size: cover;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  right: 0px;
  top: 10px;
  text-align: center;
}

.cuore:hover {
  color: red;
}

/* 
***************
HEADER




*/

.categorie,
.selezioni {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.topmenu {
  display: flex;
  background-color: orange;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.containerlogo {
  background-image: url(img/boolean-logo.png);
  height: 30px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 200px;
}
/* 
***************
MAIN


*/

.containerbox {
  margin: 50px auto;
  padding-bottom: 50px;
  background-color: beige;

  width: 1000px;
  display: flex;
  gap: 20px;

  flex-wrap: wrap;
  justify-content: space-between;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  /* width: 300px; */
  height: 400px;
  background-color: black;
  border: salmon solid;
  display: flex;
  position: relative;
}

.info {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 10px;
}

.percentualesconto {
  background-color: red;
  color: white;
}

.eco {
  background-color: green;
  color: white;
}

.img1b,
.img2b,
.img3b,
.img4b,
.img5b,
.img6b {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.box1:hover .img1b {
  opacity: 1;
}

.box2:hover .img2b {
  opacity: 1;
}

.box3:hover .img3b {
  opacity: 1;
}

.box4:hover .img4b {
  opacity: 1;
}

.box5:hover .img5b {
  opacity: 1;
}

.box6:hover .img6b {
  opacity: 1;
}

/* 
***************
FOOTER


*/
